<div class="container mt-3 mb-5 text-center" id="aboutme-hero-container">
  <h2 class="pb-3">About Me</h2>

  <div class="row row-flex justify-content-center mt-3">
    <div
      class="col-lg-4 col-md align-self-center p-2 m-auto order-lg-1 text-center"
      id="aboutme-img-card"
    >
      <img
        src="../images/dillard-about-img.jpg"
        alt="marianne dillard angel wings fun image"
        width="350px"
      />
    </div>

    <div
      class="col-lg-7 col-md align-self-start p-4"
      id="personal-summary-card"
    >
      <h4>Hello, I'm Marianne!</h4>
      <p>
        I am someone with a lifelong passion for learning and discovery. From a
        young age, I had my nose in a book more often than not, traveling to new
        worlds through stories. Over the years, this has grown into actual
        adventures as I love traveling to experience new people, cultures, and
        sceneries. When I’m home, I enjoy hiking on local trails while taking
        pictures along the way and practicing my handy-man skills doing DIY home
        improvement projects. My hunger for knowledge has also grown as I
        continue to read everything from sci-fi and fantasy novels to articles
        about the latest trends in business and technology.
        <br /><br />
        On a professional level, I am a seasoned program leader with 10+ years
        of data analytics and process optimization experience. Professional
        focal points include team leadership, information-gathering, data
        analysis, reporting, mentorship, and change management. Delivering
        superior administration on the latter areas of expertise requires
        utilization of effective communication and negotiation skills, as well
        as the business acumen, systems analysis aptitude, and project/resource
        management abilities to support efficiency and maximize returns. I
        thrive when taking on new challenges, especially in the fast-paced world
        of business growth, and I’m always open to new opportunities to hone and
        expand my skillset.
      </p>
    </div>
  </div>
</div>
