<div id="gallery-card-item">
  <img src="/gallery-images/2008,Savannah,GA.jpg" alt="Savannah, GA 2008" />
  <div id="gallery-card-overlay">Savannah, GA (2008)</div>
</div>

<div id="gallery-card-item">
  <img
    src="/gallery-images/2012, Washington,DC(1).jpg"
    alt="Washington, DC 2012"
  />
  <div id="gallery-card-overlay">Washington, DC (2012)</div>
</div>

<div id="gallery-card-item">
  <img
    src="/gallery-images/2012, Washington,DC(2).jpg"
    alt="Washington, DC 2012"
  />
  <div id="gallery-card-overlay">Washington, DC (2012)</div>
</div>

<div id="gallery-card-item">
  <img
    src="/gallery-images/2012, Washington,DC(3).jpg"
    alt="Washington, DC 2012"
  />
  <div id="gallery-card-overlay">Washington, DC (2012)</div>
</div>

<div id="gallery-card-item">
  <img
    src="/gallery-images/2012, Washington,DC(4).jpg"
    alt="Washington, DC 2012"
  />
  <div id="gallery-card-overlay">Washington, DC (2012)</div>
</div>

<div id="gallery-card-item">
  <img
    src="/gallery-images/2012, Washington,DC(5).jpg"
    alt="Washington, DC 2012"
  />
  <div id="gallery-card-overlay">Washington, DC (2012)</div>
</div>

<div id="gallery-card-item">
  <img
    src="/gallery-images/2012, Washington,DC(6).jpg"
    alt="Washington, DC 2012"
  />
  <div id="gallery-card-overlay">Washington, DC (2012)</div>
</div>

<div id="gallery-card-item">
  <img src="/gallery-images/2013,Branson,MO(1).jpg" alt="Branson, MO 2013" />
  <div id="gallery-card-overlay">Branson, MO (2013)</div>
</div>

<div id="gallery-card-item">
  <img src="/gallery-images/2013,Branson,MO(2).jpg" alt="Branson, MO 2013" />
  <div id="gallery-card-overlay">Branson, MO (2013)</div>
</div>
