<div class="container pt-5" id="main-hero-container">
  <div class="row row-gap-3 row-flex justify-content-center">
    <div
      class="col align-self-center p-2 m-auto order-lg-1 text-center"
      id="hero-img-card"
    >
      <a href="/about-me">
        <img
          src="./images/dillard-main-img.JPG"
          alt="marianne dillard working on laptop image"
          width="550px"
        />
      </a>
    </div>

    <div class="col align-self-start p-4" id="hero-text-card">
      <h1 class="text-center">Hello, I'm Marianne!</h1>
      <p>
        Welcome to my little slice of the internet.
        <br /><br />
        Professionally, I'm a growth-oriented, optimization-focused analyst,
        project manager, engineer, and changemaker, ready to leverage
        cutting-edge data-analytic and process improvement techniques to secure
        business objectives. Check out my blog for insights into improving
        performance through data analytics and business intelligence!
        <br /><br />
        Personally, I'm an avid traveler always excited to explore new places
        and meet new people, taking pictures of the amazing sites and sceneries
        along the way. Check out my gallery for a peak into some of my recent
        adventures!
      </p>
      <div class="text-center">
        <a class="btn solid-btn" href="#contact-me">LET'S CONNECT</a>
      </div>
    </div>
  </div>
</div>
