<div class="container mb-4 p-4 text-center" id="exp-container">
  <div class="mb-3">
    <h3>Professional Experience</h3>
  </div>

  <div class="card mt-3 p-2 exp-card">
    <dl>
      <dt><h5>Delivery Assurance Lead</h5></dt>
      <dd>
        <strong>Florida Power & Light, Sanford, FL</strong>
        <i>(January 2020 to April 2023)</i>
      </dd>
    </dl>
    <ul class="exp-list">
      <li>
        Led a high-performing Delivery Assurance team, cultivating a positive
        and inclusive working environment that drove productivity and employee
        growth
      </li>
      <li>
        Spearhead concurrent execution of ten annual programs to improve
        customer reliability year over year meeting all key performance
        indicators (KPIs) and adhering to a $2MM budget
      </li>
      <li>
        Successfully managed stakeholder relationships and mitigated risks for
        multiple projects within each program category, addressing internal and
        external customer reliability concerns through critical problem solving,
        meticulous data analysis, and effective communication
      </li>
      <li>
        Oversaw critical customer-impact service reliability projects, exceeding
        $5M in total costs, and provided full-cycle project management to ensure
        scope and timeline adherence
      </li>
      <li>
        Monitored and reported compliance across daily, weekly, and monthly
        activities utilizing complex data queries to compile outage information
        and update reliability performance visualizations to derive actionable
        insights and effectively presented findings to senior management
      </li>
      <li>
        Mentored and guided a team of 20 junior engineers, fostering team
        cohesion through engagement events and lunch-and-learns
      </li>
      <li>
        Developed and implemented a comprehensive reliability analytics
        dashboard using SQL and Power BI to provide near real-time visibility
        into trackable metrics and enabling customized reporting to all
        organizational levels
      </li>
      <li>
        Earned Six Sigma Black Belt by developing a multidimensional Power BI
        dashboard utilizing complex SQL queries to optimize resource deployment,
        improve productivity, reduce project costs, and manage execution risks;
        achieved a 62% improvement in regional resource costs within the first
        year
      </li>
    </ul>
  </div>

  <div class="card mt-3 p-2 exp-card">
    <dl>
      <dt><h5>Senior Resource Optimization Analyst</h5></dt>
      <dd>
        <strong>Florida Power & Light, Sanford, FL</strong>
        <i>(July 2019 to January 2020)</i>
      </dd>
    </dl>
    <ul class="exp-list">
      <li>
        Led a cross-functional team in developing industry-leading performance
        analysis algorithms and software, enabling near real-time resource
        monitoring and productivity tracking
      </li>
      <li>
        Implemented process optimization and standardization initiatives to
        improve resource deployment, efficiency, and reducing cost-incurring
        productivity losses; successfully managed a company-wide change
        management campaign and training
      </li>
      <li>
        Facilitated regular meetings with senior leadership and key stakeholders
        to review progress, discuss exceptions, and develop action plans,
        resulting in improved team performance and empowerment
      </li>
      <li>
        Leveraged historical data, Minitab, and statistical methodologies to
        identify leading indicators and performance drivers, enabling
        development of a targeted strategies to optimize productivity and cost
        efficiency
      </li>
      <li>
        Forecast future resource utilization demands, considering market and
        environmental trends
      </li>
      <li>
        Organized training to ensure uptake and effective utilization of new
        software tools
      </li>
      <li>
        Forged cross-functional partnerships to successfully launch an
        innovative construction diagnostic center, improving operational
        efficiency and maximizing resource productivity; the center drove 35%
        productivity gains within the first year
      </li>
      <li>
        Improved data accuracy by 33% for newly developed productivity tools
        through collaboration to identify and select data collection best
        practices and develop strategic software enhancements; project served as
        first of two required projects for Six Sigma Black Belt Certification
      </li>
    </ul>
  </div>

  <div class="card mt-3 p-2 exp-card">
    <dl>
      <dt><h5>Resource Lead</h5></dt>
      <dd>
        <strong>Florida Power & Light, Sanford, FL</strong>
        <i>(May 2017 to July 2019)</i>
      </dd>
    </dl>
    <ul class="exp-list">
      <li>
        Orchestrated strategic resource deployment for critical distribution
        projects, consistently meeting program execution targets on time and
        within 1% of annual budget
      </li>
      <li>
        Served as Planning Section Chief, leading the deployment of over 500
        contractor personnel, material, and equipment resources to successfully
        restore power to over 200k customers within 11 days following Hurricane
        Irma
      </li>
      <li>
        Slashed yearly operations spending by over $100k through monthly
        as-built compliance audits while improving capital deployment
      </li>
      <li>
        Developed and implemented reporting tools that utilized SQL and Excel
        macros to standardize resource management and workload planning across
        the organization, resulting in reduced crew downtime, enhanced project
        execution, and reduced budget overages
      </li>
      <li>
        Enthusiastically led daily stand-ups and weekly workload planning
        meetings for multiple regional teams, ensuring efficient schedule
        execution through successful stakeholder, resource, and risk management
      </li>
    </ul>
  </div>

  <div class="card mt-3 p-2 exp-card">
    <dl>
      <dt><h5>Production Lead</h5></dt>
      <dd>
        <strong>Florida Power & Light, Sanford, FL</strong>
        <i>(June 2016 to May 2017)</i>
      </dd>
    </dl>
    <ul class="exp-list">
      <li>
        Completed FPL’s rigorous 16-Week Supervisor Development Program, honing
        advanced leadership, communication, and management skills
      </li>
      <li>
        Organized the rapid deployment of 12 union crews and five staff
        employees in aftermath of Hurricane Matthew, efficiently restoring power
        to over 100k customers within a remarkable seven-day timeframe
      </li>
      <li>
        Led and coordinated 17 contractor crews in large-scale initiative to
        restore over 10,000 streetlights across the northeast coastal region of
        Florida, deftly managing stakeholder engagement and customer
        expectations to ensure on-time and within budget project completion
        (also following Hurricane Matthew)
      </li>
      <li>
        Improved major restoration follow-up processes, eliminating time
        overruns entirely within a six-month period
      </li>
      <li>
        Resolved backlog of contractor payments within three months, ensuring
        compliance with vendor service-level agreements
      </li>
      <li>
        Optimized daily crew productivity across multiple vendors and 20+ crews
        my implementing efficient workload scheduling, conducting regular
        check-in meetings, and developing a new project-tracking dashboard,
        resulting in the successful achievement of project KPIs while meeting
        both budgetary and customer-deadline commitments
      </li>
    </ul>
  </div>

  <div class="card mt-3 p-2 exp-card">
    <dl>
      <dt><h5>Distribution Engineer</h5></dt>
      <dd>
        <strong>Florida Power & Light, Sanford, FL</strong>
        <i>(May 2012 to June 2016)</i>
      </dd>
    </dl>
    <ul class="exp-list">
      <li>
        Demonstrated expertise in effectively managing multiple simultaneous
        projects, encompassing single-family residential, commercial, and
        industrial developments, from initiation to completion, consistently
        meeting all KPI’s while adhering the scope, schedule, and budget
        requirements
      </li>
      <li>
        Skillfully negotiated with customers and vendors to ensure alignment
        with project deliverables within company capabilities while ensuring
        customer satisfaction and adeptly managed stakeholder expectations
        throughout project lifecycle
      </li>
      <li>
        Acted as lead engineer for large community-development and
        municipality-relocation projects, consistently logging the highest
        design hours among peers, demonstrating exceptional commitment and
        expertise
      </li>
      <li>
        Earned Six Sigma Green Belt Certification by optimizing a critical
        engineering process that enhanced customer satisfaction, long-term
        reliability, and cost efficiency, including development of a
        comprehensive, standardized training curriculum for all new-hire
        engineers
      </li>
      <li>
        Earned Six Sigma Green Belt Certification by optimizing a critical
        engineering process that enhanced customer satisfaction, long-term
        reliability, and cost efficiency, including development of a
        comprehensive, standardized training curriculum for all new-hire
        engineers
      </li>
      <li>
        Provided comprehensive training and supervision to over 30 new-hire
        engineers and summer interns during my tenure with the company,
        fostering their professional growth and development
      </li>
    </ul>
  </div>
</div>
