<div class="container mb-5 text-center" id="education-container">
  <h3>Education</h3>

  <div class="row row-gap-3 mt-3 justify-content-center">
    <div class="col text-center">
      <div class="card education-card">
        <div class="card-body">
          <h6 class="card-title">
            <u
              ><strong
                >Master of Science in Business Administration (MBA),
                2022</strong
              ></u
            >
          </h6>
          <p class="card-text">
            <em>University of South Florida, Tampa, FL</em>
          </p>
        </div>
      </div>
    </div>

    <div class="col text-center">
      <div class="card education-card">
        <div class="card-body">
          <h6 class="card-title">
            <u
              ><strong
                >Bachelor of Science in Civil Engineering, 2012</strong
              ></u
            >
          </h6>
          <p class="card-text">
            <em>Embry-Riddle Aeronautical University, Daytona Beach, FL</em>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
