<div class="container mb-5 text-center" id="comp-container">
  <h3>Core Competencies</h3>

  <div class="row row-flex row-gap-2 mt-3 justify-content-center">
    <div class="col-auto d-flex justify-content-center">
      <div class="card comp-card">
        <div class="card-body">
          <ul class="comp-list">
            <li>Project/Program Management</li>
            <li>Process Optimization</li>
            <li>Continuous Improvement</li>
            <li>Six Sigma, Agile, JIRA, CRM</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-auto d-flex justify-content-center">
      <div class="card comp-card">
        <div class="card-body">
          <ul class="comp-list">
            <li>Data Collection / Cleaning</li>
            <li>Data Analysis / Visualization</li>
            <li>Dashboard Development</li>
            <li>Reporting and Presenting</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-auto d-flex justify-content-center">
      <div class="card comp-card">
        <div class="card-body">
          <ul class="comp-list">
            <li>Team Leadership</li>
            <li>Cross-Functional Collaboration</li>
            <li>Mentoring, Coaching, Training</li>
            <li>Creative Problem Solving</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
