<div class="container mb-4 p-5 text-center" id="resume-hero-container">
  <h2>Resume</h2>

  <div class="row row-flex justify-content-center mt-3">
    <div
      class="col align-self-start p-2 m-auto order-lg-1 text-center"
      id="resume-img-card"
    >
      <img
        src="../images/dillard-resume-img.jpg"
        alt="marianne dillard professional black and white image"
        width="500px"
      />
    </div>

    <div class="col align-self-center p-4" id="prof-summary-card">
      <p>
        Results-oriented business analytics and project management expert with a
        proven track record of leveraging data, strategic problem-solving, and
        stakeholder management to drive organizational success. Possessing a Six
        Sigma Black Belt, a certified Project Management Professional (PMP), and
        a Master’s in Business Administration (MBA), I bring a decade of
        experience in positions of large-scale responsibility delivering
        data-driven insights, managing complex projects, and optimizing
        resources. Skilled team player and leader with strong interpersonal and
        communication abilities, I excel in fostering collaboration, mentoring,
        and leading change. Proficient in data analysis, reporting, and
        presenting findings to senior management, I consistently deliver value
        for customers through a growth mindset and developing digital tools to
        enhance efficiency. Ready to make a significant impact empowering
        organizational success, I offer a comprehensive skill set to drive
        informed decision-making and achieve business objectives.
      </p>
    </div>
  </div>

  <div class="row mt-2 justify-content-around">
    <div
      class="col-sm-4 align-self-sm-auto p-2 m-auto text-center"
      id="download-btn"
    >
      <a
        class="btn dark-btn"
        href="../files/MDillard_2023CV.pdf"
        target="_blank"
        >DOWNLOAD CV</a
      >
    </div>

    <div
      class="col-sm-4 align-self-start p-2 m-auto text-center"
      id="connect-btn"
    >
      <a class="btn dark-btn" href="#contact-me">LET'S CONNECT</a>
    </div>
  </div>
</div>
