<div class="container mb-4 p-4 text-center" id="credentials-container">
  <h3>Licenses & Certifications</h3>

  <div class="row row-gap-3 mt-3 justify-content-center">
    <div class="col text-center">
      <div class="card credentials-card">
        <div class="card-body">
          <h6 class="card-title">
            <u><strong>Professional Engineer (PE), 2017</strong></u>
          </h6>
          <p class="card-text">
            <em>Florida Board of Professional Engineers</em>
          </p>
        </div>
      </div>
    </div>

    <div class="col text-center">
      <div class="card credentials-card">
        <div class="card-body">
          <h6 class="card-title">
            <u><strong>Project Management Professional (PMP), 2016</strong></u>
          </h6>
          <p class="card-text"><em>Project Management Institute</em></p>
        </div>
      </div>
    </div>
  </div>
</div>
