<div class="slider" style="background-color: #b9d7ea; color: #333333">
  <div class="slide"></div>
  <div class="slide"></div>
  <div class="slide"></div>
  <div class="slide"></div>
  <div class="mt-5 pt-5 pb-5 text-center">
    <h1>Marianne Dillard</h1>
  </div>
</div>
