h2 {
  font-weight: 600;
  font-style: bold;
}

#personal-summary-card {
  background-color: #f7fbfc;
  border-radius: 50px;
}

#aboutme-img-card img {
  border: solid 10px #769fcd;
  border-radius: 50px;
}

@media (max-width: 992px) {
  #aboutme-img-card img {
    width: 550px;
  }
}
