#blog-hero p {
  padding-left: 5%;
  padding-right: 5%;
}

#search-bar {
  justify-content: center;
}

.form-outline {
  width: 80%;
}

#blog-card-item {
  height: 100%;
}

#blog-card-item a:hover {
  color: orange;
}
