h2 {
    font-weight: 600;
    font-style: bold;
}

#personal-summary-card {
    background-color: #F7FBFC;
    border-radius: 50px;
}

#aboutme-img-card img {
    border: solid 10px #769FCD;
    border-radius: 50px;
}

@media (max-width:992px) {
    #aboutme-img-card img {
        width: 550px;
    }
}